<section class="tabla-equipos">
  <h2>Tabla de Equipos - Liga Nacional de Honduras</h2>
  <table>
    <thead>
      <tr>
        <th>Posición</th>
        <th>Equipo</th>
        <th>PJ</th>
        <th>PG</th>
        <th>PE</th>
        <th>PP</th>
        <th>GF</th>
        <th>GC</th>
        <th>DIF</th>
        <th>Pts</th>
      </tr>
    </thead>
    <tbody>
      {{#each equipos}}
        <tr>
          <td>{{posicion}}</td>
          <td>{{nombre}}</td>
          <td>{{jugados}}</td>
          <td>{{ganados}}</td>
          <td>{{empatados}}</td>
          <td>{{perdidos}}</td>
          <td>{{golesFavor}}</td>
          <td>{{golesContra}}</td>
          <td>{{dif}}</td>
          <td>{{puntos}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
